.main-container {
  display: block;
  text-align: center;
}

.title {
  width: 90%;
  padding-bottom: 25px;
}

.canvas {
  width: 90%;
  padding-bottom: 25px;
}

.button {
  font-family: 'Syne Mono', monospace;
  font-weight: bold;
  font-size: 2rem;
  font-stretch: expanded;
  width: 60%;
  height: 50px;
  text-align: center;
  cursor: pointer;
  color: black;
  border-radius: 15px;
  background:
    -webkit-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #808080 27%,
    #dedede 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #a1a1a1
  );
  background:
    -moz-linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #808080 27%,
    #dedede 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #a1a1a1
  );
  background:
  -webkit-linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #808080 27%,
    #dedede 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #a1a1a1
  );
  background:
  -ms-linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #808080 27%,
    #dedede 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #a1a1a1
  );
  background:
  -o-linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #808080 27%,
    #dedede 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #a1a1a1
  );
  background:
  linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #808080 27%,
    #dedede 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #a1a1a1
  );
}

.button:hover {
  background-color: #3e8e41
}

.button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

/* MEDIA QUERIES */
@media all and (min-width: 400px)   {
  .title {
    width: 90%;
    padding-bottom: 25px;
  }

  .canvas {
    width: 90%;
    padding-bottom: 25px;
  }

  .button {
    width: 40%;
    height: 7%;
  }

}

@media all and (min-width: 700px)   {
  .title {
    width: 80%;
    padding-bottom: 25px;
  }

  .canvas {
    width: 60%;
    padding-bottom: 25px;
  }

  .button {
    width: 25%;
    height: 7%;
  }

}

@media all and (min-width: 900px)   {
  .title {
    width: 60%;
    padding-bottom: 25px;
  }

  .canvas {
    width: 40%;
    padding-bottom: 25px;
  }

  .button {
    font-size: 2.25rem;
    width: 20%;
    height: 7%;
  }

}

@media all and (min-width: 1200px)   {
  .title {
    width: 30%;
    padding-bottom: 25px;
  }

  .canvas {
    width: 30%;
    padding-bottom: 25px;
  }

  .button {
    width: 15%;
    height: 7%;
  }

}
